DATABASE_URL=postgresql://localhost/harvester
RPC_HTTP=https://api.devnet.solana.com
RPC_WS=wss://api.devnet.solana.com
PROGRAM_ID=AujdsDt1vs3RZ497KhoPxzKeRFghdEbjNKVqYSypEP1W
LISTENER_MODE=ws
YELLOWSTONE_ENDPOINT=
YELLOWSTONE_TOKEN=
PORT=3001